body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

li {
    user-select: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 10;
}

header .menu-icon {
    font-size: 24px;
    cursor: pointer;
}

header .profile {
    display: flex;
    align-items: center;
}

header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

header .theme-toggle {
    margin-right: 10px;
    cursor: pointer;
}

header .select-buyer-btn {
    background-color: #00b894;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* ---------------------------------------------- */
/* main start */
main {
    flex: 1;
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow-y: auto;
}

section.active {
    display: block;
}

/* main end */

/* ---------------------------------------------- */
/* common start */
.schedule,
.purchases,
.members {
    margin-top: 20px;
}

.schedule h2,
.purchases h2,
.members h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.popup-form ul,
.schedule ul,
.purchases ul,
.members ul,
nav ul {
    list-style: none;
    padding: 0;
}

.schedule li,
.purchases li,
.members li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* common end*/

/* ---------------------------------------------- */
/* schedule start */
.schedule li.current-day {
    background-color: #0984e3;
    color: #fff;
}

.schedule li.no-member {
    background-color: #e3b009;
    color: #fff;
}

/* schedule end */

/* ---------------------------------------------- */
/* purchases start */
.purchases li .details {
    display: none;
    margin-top: 10px;
}

.purchases li .details .details-item {
    background-color: #ceebe5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.purchases li .details p {
    margin: 5px 0;
}

.purchases button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.purchases li .details-btn {
    background-color: #0984e3;
}

.purchases .add-btn {
    background-color: #00b894;
    margin-bottom: 20px;
    width: 100%;
}

.purchases .edit-btn {
    background-color: #00b894;
}

/* purchases end */

/* ---------------------------------------------- */
/* members start */
.members button {
    background-color: #00b894;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.members .add-btn {
    background-color: #00b894;
    width: 100%;
}

.members .remove-btn {
    background-color: #d63031;
}

/* members end */

/* ---------------------------------------------- */
/* popup start */
.popup-form.active {
    display: block;
}

.popup-form {
    display: none;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.popup-form input,
.popup-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.popup-form button {
    background-color: #0984e3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup-form .close-btn {
    background-color: #d63031;
}

.popup-form img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 16px;
    cursor: pointer;
}

/* popup end */

/* ---------------------------------------------- */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

/* ---------------------------------------------- */
/* nav start */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

nav ul {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    color: #718096;
}

nav .active {
    color: #4299e1;
}

nav a:hover {
    color: #4299e1;
}

nav i {
    font-size: 1.5rem;
}

/* nav end */

/* ---------------------------------------------- */
/* card start */
.card {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.card:hover:not(:has(.card-remove:hover)) {
    background-color: #0984e3;
    color: white;
}

.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: transform 0.3s ease;
}

.card-remove {
    background-color: #ef4444;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card.swiped .card-content {
    transform: translateX(-100px);
}

.card.swiped .card-remove {
    transform: translateX(0);
}

/* card end */

/* ---------------------------------------------- */
@media (min-width: 769px) {
    section {
        display: block;
    }

    .card-remove {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    section {
        display: none;
    }

    .schedule li,
    .purchases li {
        flex-direction: column;
        align-items: flex-start;
    }

    .purchases li .details-btn {
        margin-top: 10px;
    }

    .header .select-buyer-btn {
        width: 100%;
        text-align: left;
    }

    .purchases li .details {
        width: 100%;
    }

    /* test */
    /* .purchases li>button.details-btn {
        padding: 5px 10px;
    }

    .purchases .edit-btn {
        padding: 5px 10px;
        
    } */

    /* test dragging */
    /* cursor: grab; Thay đổi con trỏ chuột khi hover */
    /* user-select: none; Ngăn chặn việc chọn văn bản khi kéo */
    /* opacity: 0.5; Hiệu ứng mờ khi kéo */
    /* .schedule li {
        cursor: grab;
    }

    .schedule li.dragging {
        opacity: 0.5;
    } */

    /* test dragging */
}