body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

li {
    user-select: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 10;
}

header .menu-icon {
    font-size: 24px;
    cursor: pointer;
}

header .profile {
    display: flex;
    align-items: center;
}

header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

header .theme-toggle {
    margin-right: 10px;
    cursor: pointer;
}

header .select-buyer-btn {
    background-color: #00b894;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* ---------------------------------------------- */
/* main start */
main {
    flex: 1;
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow-y: auto;
}

section.active {
    display: block;
}

/* main end */

/* ---------------------------------------------- */
/* common start */
.schedule,
.expenses,
.rent,
.members {
    margin-top: 20px;
}

.schedule h2,
.expenses h2,
.rent h2,
.members h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.popup-form ul,
.schedule ul,
.expenses ul,
.rent ul,
.members ul,
nav ul {
    list-style: none;
    padding: 0;
}

.schedule li,
.expenses li,
.members li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #e3b009;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.add-btn:hover {
    opacity: 1;
}

/* Tooltip ở footer */
.tooltip-footer {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e3b009;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1000;
}

.tooltip-footer.active {
    opacity: 1;
}

/* common end*/

/* ---------------------------------------------- */
/* schedule start */
.schedule li.current-day {
    background-color: #0984e3;
    color: #fff;
    /* border: 3px solid #0984e3; */
}

.schedule li.no-member {
    background-color: #e3b009;
    color: #fff;
}

/* schedule end */

/* ---------------------------------------------- */
/* expenses start */
.expenses li {
    display: block;
}

.expenses li .overview {
    display: flex;
    justify-content: space-between;
}

.expenses li .overview .contents {
    display: flex;
    flex-direction: column;
}

.expenses li .overview .contents :first-child {
    font-weight: bold;
}

.expenses li .details {
    margin-top: 10px;
}

.expenses li .details .details-item {
    background-color: #ceebe5;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.expenses li .details .details-item:hover {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    background-color: #5aa899;
}

.expenses li .details .details-item i {
    color: #d63031;
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.expenses li .details .details-item i:hover {
    color: #6e2525;
}

.expenses li .details p {
    margin: 5px 0;
}

.expenses li .details-btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0984e3;
}

.expenses li .details {
    display: none;
}

.expenses li .details.show {
    display: block;
}

.expenses li .overview>* {
    margin-right: 10px;
}

.expenses li .overview>*:last-child {
    margin-right: 0;
}

.expenses li .details .details-item>* {
    margin-bottom: 5px;
}

.expenses li .details .details-item>*:last-child {
    margin-bottom: 0;
}

/* expenses end */

/* ---------------------------------------------- */
/* rent start */
.rent-select,
.rent-fields,
.rent-members {
    margin-bottom: 16px;
}

.rent-select label,
.rent-fields label,
.rent-members label {
    display: block;
    margin-bottom: 8px;
}

.rent-select select,
.rent-fields input,
.rent-members input {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    width: 100%;
}

.rent-fields,
.rent-members-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

/* rent-select */

/* rent-fields */
.rent-fields {
    grid-template-rows: repeat(3, 1fr);
}

.rent-fields .field.otherFee {
    grid-column: span 2 / span 2;
}

.rent-fields .field.otherFee input {
    width: calc(50% - 4px);
}

.rent-fields .field.otherFee input:last-child {
    margin-left: 4px;
}

/* field item */
.rent-select select,
.rent-fields .field,
.rent-member-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.rent-fields .field {
    background-color: #a3cbe9;
}

.rent-fields .field label {
    font-weight: bold;
}


.rent-member-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: #ceebe5;
}

.rent-member-item :first-child {
    font-weight: bold;
}

/* rent-members-item */
.rent-member-item-details {
    display: none;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ceebe5;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.rent-member-item-details.active {
    display: block;
}

/* members end */

/* ---------------------------------------------- */
/* popup start */
.popup-form.active {
    display: block;
}

.popup-form {
    display: none;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.popup-form input,
.popup-form button,
.popup-form select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.popup-form button {
    background-color: #0984e3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup-form .close-btn {
    background-color: #d63031;
}

.popup-form img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 16px;
    cursor: pointer;
}

/* popup end */

/* ---------------------------------------------- */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

/* ---------------------------------------------- */
/* nav start */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

nav ul {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    color: #718096;
}

nav .active {
    color: #4299e1;
}

nav a:hover {
    color: #4299e1;
}

nav i {
    font-size: 1.5rem;
}

/* nav end */

/* ---------------------------------------------- */
/* card start */
.card {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card:hover:not(:has(.card-remove:hover)) {
    background-color: #0984e3;
    color: white;
}

.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: transform 0.3s ease;
}

.card-image {
    display: flex;
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card-image:hover {
    transform: scale(5);
    transition: transform 0.5s ease;
}

.card-remove {
    background-color: #ef4444;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card.swiped .card-content {
    transform: translateX(-100px);
}

.card.swiped .card-remove {
    transform: translateX(0);
}

/* card end */

/* ---------------------------------------------- */
@media (min-width: 769px) {
    section {
        display: block;
    }

    .card-remove {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    section {
        display: none;
    }

    .schedule li {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-btn {
        position: fixed;
        bottom: 12%;
        right: 5%;
        z-index: 11;
    }
}